{% extends 'base.html' %}

{% block title %}
  <title>{{title.capitalize()}}</title>  
{% endblock title %}

{% block content %}
    <main class="container">
      {% for type, message in get_flashed_messages(True) %}
          <div class="alert {{type}} my-3 "> {{message}} </div>
      {% endfor %}

         
        <h1 class="my-5">{{title.capitalize()}}</h1>
        {% if items | length == 0 %}
          <h2 class="my-5 mb-3">За вашим запитом нічого не знайдено</h2>
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
          

          {% for item in items %}
        <div class="col">
        <div class="card">
          <img src= "{{ url_for('static', filename='item_images/'+ item.image) }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.price}}</p>
            <a href="{{url_for('item_page', item_id = item.id)}}" class="btn btn-primary stretched-link">Купити</a>
          </div>
        </div>
      </div>
        {% endfor %}
           
        </div>
        

        <!-- Головний контент сторінки -->
    </main>
  {% endblock content %}
