{% extends 'base.html' %}

{% block title %}
  <title>Увійти в профіль</title>  
{% endblock title %}

{% block content %}
    <main class="container py-5">
        <h1>Увійдіть у свій профіль:</h1>
        <div class="row">
          <div class="col-12 col-lg-8">
            <form action="" method = "POST">
                <div class="mb-3">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input required name="email" type="email" class="form-control">
                </div>
                <div class="col-12 col-lg-8">
                  <form class="row g-3" action="" method = "POST">
                      <div class="mb-3">
                        <label for="inputEmail4" class="form-label">Введіть пароль</label>
                        <input required name="email" type="password" class="form-control">
                      </div>
                    {% for type, message in get_flashed_messages(True) %}
                      <div class="alert {{type}} my-3 "> {{message}} </div>
                    {% endfor %}
                <div class="col-12">
                  <button type = "submit" class="add-card"> Увійти</button>
                  <a href="{{url_for('signup')}}" class="ms-3 text-dark">Створити профіль</a>
                </div>  
            </form>
          </div>
          </div>
        </div>
        
    </main>
{% endblock content %}