{% extends 'base.html' %}

{% block title %}
  <title>Оформлення замовлення</title>  
{% endblock title %}

{% block content %}
    <main class="container py-5">
        <h1>Оформлення замовлення:</h1>
        <div class="row">
          <div class="col-12 col-lg-8">
            <form class="row g-3" action="" method = "POST">
                <div class="col-md-12">
                  <label for="inputEmail4" class="form-label">Прізвище та ім'я</label>
                  <input required name="name" type ="text" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input required name="email" type="email" class="form-control">
                </div>
                <div class="col-md-6">
                  <label for="inputAddress" class="form-label">Номер телефону</label>
                  <input required name="phone" type="phone" class="form-control">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Адреса доставки</label>
                  <input required name="address" type="text" class="form-control" id="inputAddress" placeholder="Місто, вулиця, будинок, квартира">
                </div>
                <div class="col-12">
                  <button type = "submit" class="add-card"> Надіслати</button>
                  
                </div>  
            </form>
          </div>
          <div class="col-12 col-lg-4"><div class="list-item">
        {% include 'cart.html' %}
      </div></div>
        </div>
        
    </main>
{% endblock content %}